@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-image: url('../images/purple.jpg.jpg');
    background-size:100% 100%;
    background-blend-mode: darken;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}     


h1 {
    padding-top:50px;
    margin:0px;
    padding-bottom: 5px;
    text-align:center;
}

h2, h3{
    padding-top:20px;
    margin:0px;
    padding-bottom: 20px;
    text-align:center;
}

.snapshot  {
    text-align: center;
}

.snapshot1 {
    text-align:justify;
    padding-left:40px;
    margin-left:0;
    margin-right:200px;
    margin-top:25px;
    
}
.I{
    font-size:35px;
}

a{
    color:black;
    
    }

.max {
float:left;
width:210px;
height:210px;
padding-right:100px;
padding-left: 100px;
}

tr, td{
    width:25%;
}

table{
    padding-left:275px;
    padding-bottom:20px;
}


.quick {
    padding-left:520px;
    font-size:15px;
}    

.smoke {
    background: url("../images/smokelight.png");
    background-size: 100% 100%;
    width:100%
    color:black;
    padding-left:50px;
    padding-right:50px;
    margin-left:100px;
    margin-right:100px;
   
    
}

.past-desc, .curr-desc{
    text-align:justify;
    margin-right:75px;
    margin-left:75px;
}