@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-image: url('../images/purple.jpg.jpg');
    background-blend-mode: darken;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}     


h1 {
    margin:0px;
    padding-bottom: 5px;
}

h3{
    margin:0px;
    padding-bottom: 20px;
}

.snapshot {
    text-align: center;
}

.snapshot1 {
    text-align:justify;
    padding-left:100px;
    
}
.I{
    font-size:35px;
}

a{
    color:black;
    text-decoration:none;
    }